/*============ GOOGLE FONTS ============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*============ VARIABLES CSS ============*/
:root {
  /* ----- Colors ----- */
  --primary: #2e294eff;
  --primary-lighter: rgb(78, 70, 125);
  --secondary: #ff5a5fff;
  --accent: #f5f5f5ff;
  --text-color-light: #fff;
  --text-color-dark: #000;
  --icon-color-1: #000;
  --icon-color-2: #fff;

  /* ----- Font and Typography  ----- */
  --body-font: "Poppins", sans-serif;

    /* ----- Font weight  ----- */
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 600;

}

/*============ CSS RESET ============*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: var(--body-font);
}

/*============ LAYOUT ============*/
.container {
  display: grid;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}

aside {
  display: none;
  width: 90vw;
  max-width: 400px;
  height: 100vh;
  position: fixed;
  z-index: 1;
  background: var(--primary);
  color: var(--text-color-light);
  padding: 1.25rem 1rem;
}

header {
  border: 1px solid blue;
  color: var(--text-color-dark);
}

main {
  border: 1px solid green;
  color: var(--text-color-dark);
}

/*============ RESPONSIVE LAYOUT ============*/
@media (min-width: 765px) {
  .container {
    grid-template-columns: 60px 1fr;
    grid-template-rows: 98px 1fr;
    grid-template-areas: "aside header"
                         "aside main"
  }

  aside {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: aside;
  }

  main {
    grid-area: main;
  }

  header {
    grid-area: header;
  }
}

@media (min-width: 1200px) {
  .container {
    grid-template-columns: 285px 1fr;
  }

  aside {
    width: 285px;
    align-items: start;
  }
}

/*============ ASIDE ============*/
aside .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: calc(14px + 2vw);
}

aside .logo i {
  font-size: 42px;
}

aside .navigation,
aside .settings {
  margin-top: 3rem;
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

aside .navigation i,
aside .settings i {
  font-size: 22px;
}

.navigation .nav_icon-container,
.settings .nav_icon-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  transition: all 0.25s;
}

.navigation .nav_icon-container:hover i,
.settings .nav_icon-container:hover i {
  color: var(--secondary);
  animation: rotateAnimation 0.45s linear;
}

.navigation .nav_icon-container:hover p,
.settings .nav_icon-container:hover p {
  transition: all 0.45s;
  color: var(--secondary);
}


@keyframes rotateAnimation {
  from {
    transform: rotate(0deg); 
  }
  to {
    transform: rotate(360deg);
  }
}

/*============ MEDIA QUERIES ============*/
@media (min-width: 765px) and (max-width: 1200px) {
  
  /*----------- ASIDE -----------*/
  aside {
    padding: inherit 0;
  }

  aside .logo h1 {
    display: none;
  }

  aside .navigation,
  aside .settings {
    padding: 0px;
  }

  aside .navigation p,
  aside .settings p {
    display: none;
  }

  /*----------- HEADER -----------*/
}

@media (min-width: 765px) {
  .top i {
    display: none;
  }
}

@media (min-width: 1200px) {
  /*----------- ASIDE -----------*/
  aside {
    padding: inherit 0;
  }

  aside .logo h1 {
    font-size: 32px;
  }
}
