/*============ GOOGLE FONTS ============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*============ VARIABLES CSS ============*/
:root {
  /* ----- Colors ----- */
  --primary: #2e294eff;
  --primary-lighter: rgb(78, 70, 125);
  --secondary: #ff5a5fff;
  --accent: #f5f5f5ff;
  --bg-color: #e2e8f0;
  --color-light: #fff;
  --color-dark: #000;
  --icon-color-1: #000;
  --icon-color-2: #fff;

  /* ----- Font and Typography  ----- */
  --body-font: "Poppins", sans-serif;

    /* ----- Font weight  ----- */
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 600;

  /* ----- Border radius */
  --brad-full: 50%;

}

/*============ CSS RESET ============*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: var(--body-font);
  background: var(--bg-color);
}

/*============ LAYOUT ============*/
.container {
  display: grid;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

aside {
  display: none;
  width: 90vw;
  max-width: 400px;
  height: 100vh;
  position: fixed;
  z-index: 1;
  background: var(--primary);
  color: var(--color-light);
  padding: 1.25rem 1rem;
}

header {
  color: var(--color-dark);
}

main {
  border: 1px solid green;
  color: var(--color-dark);
}

/*============ RESPONSIVE LAYOUT ============*/
@media (min-width: 765px) {
  .container {
    grid-template-columns: 60px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "aside header"
                         "aside main"
  }

  aside {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: aside;
  }

  main {
    grid-area: main;
  }

  header {
    grid-area: header;
  }
}

@media (min-width: 1200px) {
  .container {
    grid-template-columns: 285px 1fr;
  }

  aside {
    width: 285px;
    align-items: start;
  }
}

/*============ ASIDE ============*/
aside .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: calc(14px + 2vw);
}

aside .logo i {
  font-size: 42px;
}

aside .navigation,
aside .settings {
  margin-top: 3rem;
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

aside .navigation i,
aside .settings i {
  font-size: 22px;
}

.navigation .nav_icon-container,
.settings .nav_icon-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  transition: all 0.25s;
}

.navigation .nav_icon-container:hover i,
.settings .nav_icon-container:hover i {
  color: var(--secondary);
  animation: rotateAnimation 0.45s linear;
}

.navigation .nav_icon-container:hover p,
.settings .nav_icon-container:hover p {
  transition: all 0.45s;
  color: var(--secondary);
}


@keyframes rotateAnimation {
  from {
    transform: rotate(0deg); 
  }
  to {
    transform: rotate(360deg);
  }
}

/*============ HEADER ============*/
header {
  background-color: var(--color-light);
  padding: 16px;
}

/*------ Header top ------*/
.header__top {
  width: 100%;
  display: flex;
}

.header__search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

.header__search .left, 
.header__search .right {
  display: flex;
  align-items: center; 
  gap: 16px;  
}


.header__search .right > :first-child {
  display: none;
}

.header__icon {
  font-size: 24px;
  cursor: pointer;
  padding: 5px 12px;
  transition: all 0.25s;
}

#hamburger-icon {
  padding: 8px;
  border-radius: 6px;
}

.header__icon:hover {
  background: var(--bg-color);
  border-radius: var(--brad-full);
}


.header__search input[type="search"] {
  display: none;
  background-color: var(--bg-color);
  width: 45vw;
  border: none;
  padding: 8px 22px;
  border-radius: 50px;
  font-family: var(--body-font);
}

.header__search input[type="search"]:focus {
  outline: var(--primary) 2px transparent;
} 

.profile__img {
  width: 40px;
  border-radius: var(--brad-full);
  cursor: pointer;
  transition: outline 0.250ms;
}

.profile__img:hover {
  outline: 2px solid var(--secondary);
}

.profile__name {
  font-weight: var(--font-bold);
  display: none;
}

/*------ Header bottom ------*/
.header__bottom {
  margin-top: 21px;
}
.profile__img--big {
  width: 55px;
}

.header__profile-info {
  display: flex;
  gap: 16px;
  align-items: center;
}


.header__profile-info h3 {
  font-size: 16px;
  font-weight: var(--font-medium);
}

.header__profile-info small {
  font-size: 14px;
}

.header__profile-info h3 small {
  display: block;
}

.header__buttons {
  margin-top: 21px;
  display: flex;
  gap: 10px;
}

.header__btn {
  background-color: var(--primary);
  color: var(--color-light);
  font-weight: var(--font-medium);
  border: none;
  padding: 6px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.25s;
}

.header__btn:hover {
  background-color: var(--secondary);
}


/*============ MEDIA QUERIES ============*/
@media (min-width: 765px) and (max-width: 1200px) {
  
  /*----------- ASIDE -----------*/
  aside {
    padding: inherit 0;
  }

  aside .logo h1 {
    display: none;
  }

  aside .navigation,
  aside .settings {
    padding: 0px;
  }

  aside .navigation p,
  aside .settings p {
    display: none;
  }

  /*----------- HEADER -----------*/
}

@media (min-width: 765px) {
  /*----------- ASIDE -----------*/
  
  /*----------- HEADER -----------*/
  header {
    padding: 24px;
  }

  .header__menu {
    display: none;
  }

  .header__search {
    justify-content: space-between;
  }

  .header__search .right > :first-child {
    display: block;
  }
  
  .header__search input[type="search"] {
    display: block;
  }

  .header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__icon {
    font-size: 24px;
  }

  .profile__img {
    width: 48px;
  }

  .profile__img--big {
    width: 73px;
  }

  .header__profile-info h3 {
    font-size: 18px;
  }


  .header__buttons {
    gap: 24px;
  }

  .header__search input[type="search"] {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  /*----------- ASIDE -----------*/
  aside {
    padding: inherit 0;
  }
  
  aside .logo h1 {
    font-size: 32px;
  }

  /*----------- HEADER -----------*/
  .profile__name {
    font-weight: var(--font-bold);
    display: inline;
  }

  .header__btn {
    font-size: 14.5px;
    padding: 6px 32px;
  }
}
