:root {
  /* ----- Colors ----- */
  --primary: #2e294eff;
  --secondary: rgb(126, 136, 194);
  --bg-color: #e2e8f0;
  --color-light: #fff;
  --color-txt: #000;
  --grey: #222222;
  --color-dark: #000;
  --selection-color: #fff;
  --icon-color: #000;

  /* ----- Font and Typography  --  --- */
  --body-font: "Poppins", sans-serif;

    /* ----- Font weight  ----- */
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 600;

  /* ----- Border radius */
  --brad-full: 50%;
  
  /* ----- Box Shadow */
  --b-shadow: rgba(149, 157, 165, 0.2) 0px 12px 22px;
}

/*============ DARK THEME VARIABLES ============*/

.dark-theme-variables {
  /* --primary: #6f5fd1; */
  /* --secondary: rgb(207, 255, 225); */
  --bg-color: #000;
  --color-txt: #fff;
  --color-light: #232323;
  --grey: #dcdcdc;
  --color-dark: #ffffff;
  --icon-color: #000;
}